<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <conversionRule conversionWord="jsonKV" converterClass="app.narvi.protego.spring.rules.logback.KeyValueJsonConverter"/>
  <conversionRule conversionWord="notEmpty" converterClass="app.narvi.protego.spring.rules.logback.NotEmptyConverter"/>

  <appender name="CONSOLE-LOCAL" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        [%d{YYYY-MM-dd HH:mm:ss.SSS}] [%highlight(%-5level)] %boldRed(%rootException{0}) [%logger{0} - %logger] %n ==>> %msg %n %jsonKV %n %blue(%xException{full})
      </pattern>
    </encoder>
  </appender>

  <!-- on local env do not use json for logging -->
  <root level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE-LOCAL"/>
  </root>

</configuration>